.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background-color: blue;
  height: 20rem;
  width: 30rem;
}

.cell {
  background: grey;
  border: black solid 0.2rem;
}

.cell-img {
  width: 100%;
  height: 100%;
}