.board-header {
  padding: 2rem;
  color: white;
  background-color: #3f51b5;
}

.container {
  min-height: 30rem;
  min-width: 30rem;
  max-height: 80rem;
  max-width: 80rem;

  .cell {
    border: darkgray solid 1px;
    padding: 0.5rem;
    align-items: center;
    overflow: hidden;
    max-width:230px;
    max-height:230px;

    .cell-img {
      object-fit: cover;
      max-width: 99%;
      max-height: 99%;
    }
  }
}